@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', Arial, 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

:root{
    --marrom-claro: #f5deb3;
    --marrom-escuro: #ac7b7d;
    --preto-cafe: #0D160b;
    --fonte1: 'Mulish', Arial, 'Roboto', sans-serif;
    --fonte2: 'Vollkorn', Verdana, serif;
}

header{
    background-color: var(--marrom-escuro);
    /*padding: 10px 0px 1px 20px;*/
    margin: auto;
    color: white;
    font-size: 1.2em;
}

h1{
    font-size: 2em;
    margin: auto;
    padding: 20px 0px 15px 20px ;
}

main{
    max-width:980px;
    color: white;
    /*background-color: #977390;*/
    /*margin: auto;*/
    margin: auto;
}

h2{
    color: #000;
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
}

h3{
    background-color: var(--preto-cafe);
    font-size: 1.5em;
    padding: 12.5px;
    margin:auto;
}

.print{
    margin: auto;
    width: 800px;
}

.imagem{
    max-width: 790px;
    max-height: 461.5px;
    margin: auto;
    display: block;
}

img{
    margin: auto;
    width: 100%;
}

.links{
    text-decoration: none;
    color: var(--marrom-claro);
}

.links:hover{
    font-weight: bold;
    color: var(--marrom-claro);
}

footer>p{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder;  
    color: white;
    padding: 5px;
}

footer{
    align-self: center;
    text-align: center; 
    background-color: var(--preto-cafe);
    margin-top: 40px;
    padding: 1px;
    font-size: 0.6em
}

nav{

    font-weight: normal;
    text-align: center;
    background-color: var(--preto-cafe); 
}

.navigation{

    transition-duration: .5s ;
    padding: 30px;
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-weight: 300;
}

.navigation:hover {
    font-weight: 700;
}

body{
    background-color: var(--marrom-claro); 
    margin: 0px
}

#paleta{
    width: 1000px;
    margin: auto;
    padding: 100px;
}

.texto{
    text-indent: 15px;
    margin: auto;
    text-align: justify;
    max-width: 980px;
    display: block;
}

.video{
    /*background-color: red;*/
    margin: 10px auto auto auto;
    
    display: block;

}

p{
    margin: 0px 20px;
    font-family: var(--fonte1);
    font-weight: 300;
    line-height: 1.2em;
    font-size: 1.2em;
    padding: 10px;
}

.abertura{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul, ol{
    background-color: #977390;
    list-style-position: inside;
}

section{ 
    border-radius: 10px;
    background-color: var(--marrom-escuro);
    width: auto;
    margin: auto;
    padding: 0%;
    text-align: justify;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}
