@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', Arial, 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

:root{
    --marrom-claro: #f5deb3;
    --marrom-escuro: #3d342e;
    --preto-cafe: #0D0B06;
    --fonte1: 'Mulish', Arial, 'Roboto', sans-serif;
    --fonte2: 'Vollkorn', Verdana, serif;
}
body{
    background-color: var(--marrom-claro); 
    margin: 0px
}

header{
    background-color: var(--preto-cafe);
    /*padding: 10px 0px 1px 20px;*/
    margin: auto;
    color: white;
    font-size: 1.2em;
}

h1{
    font-size: 2.3em;
    margin: auto;
    padding: 20px 0px 15px 20px ;
}

#navigation{
    text-align: center;
    background-color: var(--marrom-escuro);
    color: white;
}

#navigation a{
    transition-duration: .5s;
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 0px 50px;
}

#navigation a:hover{
    font-weight: 700;
}


main{
    max-width: 75%;
    color: white;
    /*background-color: #977390;*/
    /*margin: auto;*/
    margin: auto;
}

h2{
    color: var(--preto-cafe);
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size: 2.2em;
    padding: 10px;
}

section{ 
    border-radius: 10px;
    background-color: var(--marrom-escuro);
    width: auto;
    margin: auto;
    padding: 0%;
    text-align: justify;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

h3{
    background-color: var(--preto-cafe);
    font-size: 1.8em;
    padding: 12.5px;
    margin:auto;
}

.topo{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.texto{
    text-indent: 15px;
    margin: auto;
    text-align: justify;
    max-width: 980px;
    display: block;
}

p{
    margin: 0px 20px;
    font-family: var(--fonte1);
    font-weight: 300;
    line-height: 1.2em;
    font-size: 1.2em;
    padding: 10px;
}

ul, ol{
    padding-left: 50px;
    list-style-position: inside;
}

.links{
    color: var(--marrom-claro);
}

.links:hover{
    font-weight: bold;
    color: var(--marrom-claro);
}

.video{
    /*background-color: red;*/
    margin: 10px auto auto auto;
    
    display: block;
    position: relative;
    padding-bottom: 39.6%;

}
iframe{
    /*background-color: yellow;*/
    margin: auto;
    display:block;
    position: absolute;
    top: 0%;
    left: 15%;
    height: 100%;
    width: 70%;
}

.imagem{
    width: 70%;
    margin: auto;
    display: block;
}

img{
    width: 100%;
    display: block;
}

footer{
    background-color: var(--preto-cafe);
    text-align: center;
    margin-top: 5%;
    color: #fff;
    
}
.social{
    text-align: center;
}

.redes{
    display: inline-block;
    width: 80px;
    padding: 15px 5%;
    transition-duration: .5s;
}

.redes:hover{
    width: 85px;
}

footer > p{
    font: normal 200 1em Arial, Helvetica, Sans-serif;
    padding: 15px 0px;
    text-align: center;
}

hr{
    background-color: #a1894d;
    color: rgb(255, 255, 255);
}
.botao{
    transition-duration: .5s;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.400);
    border-radius: 20px;
    /*
    border: 2px solid rgba(255, 255, 255, 0.849);*/
}
.botao:hover{
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    border-radius: 20px;
}