@charset "UTF-8";

*{
    background-color: rgba(87, 166, 235, 0.37);
    font: normal 400 16px Arial, comic, verdana, sans-serif;
    color: black; 
}
/*
.text:hover{
    color: red;
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
}*/